@charset "UTF-8";
/* Pre-Formato del fondo de TODOS los encabezados */
.Encabezados, .EncabezadoInicio, .EncabezadoPages, .EncabezadoNuestroProposito, .EncabezadoQuienesSomos, .EncabezadoServicios, .EncabezadoNotasDeInteres, .EncabezadoContacto {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/* Formato del encabezado del INDEX */
.EncabezadoInicio {
  width: auto;
  height: 100vh;
  background-image: url("../multimedia/images/Portada inicio.jpg"); }

/* Formato del encabezado del todas las otras PAGES */
.EncabezadoPages, .EncabezadoNuestroProposito, .EncabezadoQuienesSomos, .EncabezadoServicios, .EncabezadoNotasDeInteres, .EncabezadoContacto {
  width: auto;
  height: 40vh; }

/* Estilo de la portada de NUESTRO PRÓPOSITO */
.EncabezadoNuestroProposito {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../multimedia/images/Portada Nuestro Proposito.jpg"); }

/* Estilo de la portada de QUIENES SOMOS*/
.EncabezadoQuienesSomos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../multimedia/images/Portada Quienes Somos.jpg"); }

/* Estilo de la portada de SERVICIOS */
.EncabezadoServicios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../multimedia/images/Portada Servicios.jpg"); }

/* Estilo de la portada de NOTAS DE INTERES */
.EncabezadoNotasDeInteres {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../multimedia/images/Portada notas de interés.jpg"); }

/* Estilo de la portada de CONTACTO */
.EncabezadoContacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../multimedia/images/Portada contacto.jpg"); }

.Encabezado__Titulo {
  font-size: 5rem; }

.btn:hover {
  background-color: #ccb781; }

/* Mapa para el fondo de cada uno de los servicios EN PESTAÑA 'SERVICIOS' */
.Servicio__1 {
  background-color: #bba111; }

.Servicio__2 {
  background-color: #bbb333; }

.Servicio__3 {
  background-color: #bba777; }

.Servicio__4 {
  background-color: #bbb888; }
